* {
    margin: 0;
    padding: 0;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: -1%;
}

.nav1 {
    width: 100%;
    height: clamp(1px, 4vw, 5vw);
    background-color: #e2bfa0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

h2 {
    font-family: 'bebas-neue', sans-serif;
    font-size: 3vw;
    text-transform: uppercase;
    transform: scaleY(1.5);
}

p {
    font-family: 'raleway', sans-serif;
    font-size: clamp(8px, 1.2vw, 2vw);
    line-height: clamp(1px, 5vh, 5.5vh);
}

footer {
    background-color: #fdf5dc;
    padding: 4% 2% 1% 2%;
    font-family: 'Arial', sans-serif;
    font-size: 1.2vw;
    color: #444;
}

.footer-container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    text-align: center;
}

.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
    min-width: 5%;
    margin: 10px;
}

.logo {
    width: 20vw;
    margin-bottom: 10px;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    color: #444;
    font-weight: bold;
    margin: 0 5px;
    font-size: clamp(8px, 1.5vw, 1.5vw);
    transition: transform 0.5s ease, color 0.3s ease;
}

.nav a:hover {
    color: #e94973;
    text-decoration: underline;
    transform: scale(1.2);
}

figcaption {
    background-color: #eafbff;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: clamp(0.8rem, 1vw, 2vw);
    box-sizing: border-box;
}
.menu-view figure:hover h4{
    opacity: 1;
        font-size: 2vw;
}
        .menu-view figure:hover img {
            cursor: pointer;
            transform: scale(1.2);
            filter: brightness(30%);
        }

        .menu-view figure img {
            transition: transform 1s ease ,filter 1s ease;
            height: 100%;
        }
        .menu-view figure h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    transition: 1s ease;
    font-size: 1.5vw;
    width: 100%;
}
.email {
    transform: scale(1.1);
    font-weight: bold;
    display: block;
    margin: 5% 0;
    color: #e94973;
    transition: transform 0.3s ease, color 0.3s ease;
}

.email:hover {
    color: #70b3c1;
    transform: scale(1.2);
}

.social-icons img {
    width: clamp(20px, 3vw, 3vw);
    margin: 0 5px;
    transition: transform 0.3s linear;
}

.social-icons :hover {
    transform: scale(1.2);
    cursor: pointer;
}

h3 {
    font-size: clamp(.5vw, 2vw, 3vw);
    color: #333;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
}

main {
    margin: 0;
    padding: 5% 10%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(135deg, #ffeaef, #ecfbff);
}

.banner img {
    margin: 0;
    width: 100%;
    padding: 0;
}

.banner {
    margin: 0;
    padding: 0;
    width: 100%;

}

.cover {
    overflow: hidden;
    height: min-content;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.cover img {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 1;
    display: block;
}

#logo {
    position: absolute;
    max-width: 25%;
    height: auto;
    right: 8%;
    z-index: 4;
}

h1 {
    font-family: 'chewy', cursive;
    font-size: 8vw;
}

.title {
    font-size: 9vw;
    font-weight: 100;
    z-index: 100;
    color: #7ad0e2;
}

.sub {
    color: white;
    font-size: 2vw;
    position: absolute;
    left: 5.1%;
    top: 70%;
    z-index: 6;
    font-family: 'raleway', sans-serif;
}


.social-nav img {
    width: clamp(13px, 3vw, 4vw);
    margin-right: 1vw;
    transition: transform 0.3s linear;
}

.social-nav :hover {
    transform: scale(1.2);
    cursor: pointer;
}

html {
    font-size: 62.5%;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 48%;
    z-index: 2;
    background-color: black;
}

.gradient {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 3;
    width: 100%;
    opacity: 32%;
    background-image: linear-gradient(to right, #79cee0, #ff87a3);
}